body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#container{
    text-align: center;
}

#container h1{
    color: rgb(0, 121, 219);
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 30px;
}

#container label{
    color: rgb(0, 112, 177);
    font-weight: bold;
    font-size: 18px;
}

.container h1{
    color: rgb(0, 121, 219);
    font-family: 'Roboto Condensed';
    font-weight: 500;
    margin-bottom: 30px;
}

.main_row{
    color: rgb(47, 47, 47);
}

.table td{
    color: rgb(83, 83, 83);
    font-weight: 500;
}

.btn-primary{
    margin-top: 10px;
}